:root {
	--white: #fff;
	--black: #000;
	--yellow: #f9e357;
	--land: #6f6846;
	--air: #58676f;
	--navy: #52597a;
	--white-60: rgba(255, 255, 255, 0.6);
	--land-accent: #cbbe7e;
	--navy-accent: #8894cd;
	--air-accent: #81acc3;
}