//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	padding: 0px 0px;
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&--fw {
		width: 100%;
	}
	display: inline-block;
  	background: #525879;
  	color: #BDC2C5;
  	border: none;
  	padding: 0.75rem 1.5rem;
  	border-radius: 8px;
  	cursor: pointer;
  	font-size: 1rem;
  	font-weight: 600;
  	transition: background 0.2s, transform 0.1s;

}
