.title {
	position: relative;
	color: var(--white);
	&--2 {
		font-weight: 600;
		letter-spacing: -0.05em;

		@include adaptiveValue("font-size", 78, 52);
		line-height: 0.92;

		span {
			color: var(--white);
			position: relative;
			display: inline-block;
			line-height: inherit;
			height: fit-content;
			line-height: 1.22;
			&::before {
				display: inline-block;
				content: attr(text);
				position: absolute;
				width: fit-content;
				height: fit-content;
				text-wrap: nowrap;
				top: 50%;
				left: 50%;
				font-size: inherit;
				transform: translate(-51%, -51%);
				line-height: inherit;
			}
		}
	}

	// .title--yellow
	&--yellow {
		& span {
			&::before {
				background: linear-gradient(248deg, #f2edd4 0%, #b9b6a6 49.52%, #c9c197 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	&--violet {
		& span {
			&::before {
				background: linear-gradient(248deg, #d4daf2 0%, #a6aab9 49.52%, #97a0c9 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	// .title--gray
	&--gray {
		& span {
			&::before {
				background: linear-gradient(248deg, #d4e7f2 0%, #a6b3b9 49.52%, #97b7c9 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}
.label {
	padding: toRem(4) toRem(12);
	min-height: toRem(23);
	max-width: fit-content;
	background: linear-gradient(32deg, #f9e357 0%, #e3c608 35.06%, #f9e357 60.79%, #f7dc26 100%);
	font-weight: 900;
	font-size: toRem(12);
	text-transform: uppercase;
	color: var(--navy);
}
.section {
	position: relative;
	&--violet {
		background-color: var(--navy);
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;
			background:
				linear-gradient(180deg, rgba(82, 89, 122, 1) 0%, rgba(255, 255, 255, 0) 100%), url("@img/pattern.png");
		}
	}

	&--yellow {
		background-color: var(--land);
	}

	@media (min-width: $mobileSmall) {
		padding-block: toRem(138) toRem(120);
	}
	@media (min-width: $mobile) {
		padding-block: toRem(160) toRem(145);
	}
	@media (max-width: $mobileSmall) {
		padding-block: toRem(130) toRem(100);
	}
}
